body{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 30px;
  color: #003399;
}

h2{
  font-size: 20px;
  color: #1a66ff;
}

h3{
  font-size: 17px;
  color: #6699ff;
}

p{
  font-size: 14px;
  color: #999999;
}

.conteudo {
  -webkit-column-count: 3;
  -moz-column-count: 3;
   column-count: 3;

  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
   column-gap: 40px;

  -webkit-column-rule: 1px dotted lightblue;
  -moz-column-rule: 1px dotted lightblue;
   column-rule: 1px dotted lightblue;
}
